section.partners(class=`${mix}` data-role="partners")
    .partners__container.container
        h2.partners__title Наши партнеры
        .partners__list
            -
                var partners = [{
                        description: 'ООО “ИЦ “Интегра”',
                        link: '#',
                        img: 'img1',
                    },{
                        description: 'ФГАОУ ВО “Южный федеральный университет”',
                        link: '#',
                        img: 'img2',
                    },
                    {
                        description: 'ООО “ЭКСПОНЕНТА”',
                        link: '#',
                        img: 'img3',
                    },
                    {
                        description: 'Федеральный проект “Платформа университетского технологического предпринимательства”',
                        link: '#',
                        img: 'img4',
                    },
                    {
                        description: 'Институт компьютерных технологий и информационной безопасности ЮФУ',
                        link: '#',
                        img: 'img5',
                    },
                    {
                        description: 'Фонд содействия развитию малых форм предприятий в научно-технической сфере',
                        link: '#',
                        img: 'img6',
                    }];
            each partner in partners
                a(href=`${partner.link}` class="partners__list-link")
                    .partners__list-item
                        picture
                            source(data-lazy data-srcset=`img/partners/${partner.img}-mobile@1x.png 1x, img/partners/${partner.img}-mobile@2x.png 2x` media="screen and (max-width: 1023px)")
                            source(data-lazy data-srcset=`img/partners/${partner.img}-desk@1x.png 1x, img/partners/${partner.img}-desk@2x.png 2x` media="screen and (min-width: 1024px)")
                            img(class="partners__list-img" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==")
                        .partners__list-description=partner.description


